---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ agent_identifier }}
---
apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: {{ agent_identifier }}
  namespace: {{ agent_identifier }}
spec:
  clusterDeploymentRef:
    name: {{ agent_identifier }}
  compute:
  - hyperthreading: Enabled
    name: worker
  controlPlane:
    hyperthreading: Enabled
    name: master
  imageSetRef:
    name: {{ agent_identifier }}
  networking:
    clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
    machineNetwork:
    - cidr: {{ machine_network }}
    serviceNetwork:
    - 172.30.0.0/16
  provisionRequirements:
    controlPlaneAgents: 1
    sshPublicKey: {{ ssh_pub_key }}
---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ agent_identifier }}
  namespace: {{ agent_identifier }}
spec:
  baseDomain: redhat.com
  clusterInstallRef:
    group: extensions.hive.openshift.io
    kind: AgentClusterInstall
    name: {{ agent_identifier }}
    version: v1beta1
  clusterName: {{ agent_identifier }}
  controlPlaneConfig:
    servingCertificates: {}
  platform:
    agentBareMetal:
      agentSelector: {}
  pullSecretRef:
    name: {{ agent_identifier }}-pull
---
apiVersion: hive.openshift.io/v1
kind: ClusterImageSet
metadata:
  name: {{ agent_identifier }}
spec:
  releaseImage: {{ release_image }}
---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ agent_identifier }}
  namespace: {{ agent_identifier }}
spec:
  clusterRef:
    name: {{ agent_identifier }}
    namespace: {{ agent_identifier }}
  pullSecretRef:
    name: {{ agent_identifier }}-pull
    sshAuthorizedKey: {{ ssh_pub_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ agent_identifier }}-pull
  namespace: {{ agent_identifier }} 
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ pull_secret_b64 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ agent_identifier }}-bmh
  namespace: {{ agent_identifier }}
type: Opaque
data:
  username: YWRtaW4=
  password: cGFzc3dvcmQ=
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ agent_identifier }}
  labels:
      infraenvs.agent-install.openshift.io: {{ agent_identifier }}
  namespace: {{ agent_identifier }}
spec:
  online: true
  bootMACAddress: {{ mac_address }}
  bmc:
    address: swarm
    credentialsName: {{ agent_identifier }}-bmh
