apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ cluster_identifier }}
  namespace: {{ cluster_identifier }}
  labels: {{ infraenv_labels }}
spec:
{% if not just_infraenv %}
  clusterRef:
    name: {{ cluster_identifier }}
    namespace: {{ cluster_identifier }}
{% endif %}
  pullSecretRef:
    name: {{ cluster_identifier }}-pull
    sshAuthorizedKey: {{ ssh_pub_key }}
{% if with_nmstate %}
  nmStateConfigLabelSelector:
    matchLabels:
      cluster-name: {{ cluster_identifier }}
{% endif %}
