{% for i in range(1, swarm_size + 1) %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: swarm-{{ i }}
---
apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: swarm-{{ i }}
  namespace: swarm-{{ i }}
spec:
  clusterDeploymentRef:
    name: swarm-{{ i }}
  compute:
  - hyperthreading: Enabled
    name: worker
  controlPlane:
    hyperthreading: Enabled
    name: master
  imageSetRef:
    name: swarm-{{ i }}
  networking:
    clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
    machineNetwork:
    - cidr: {{ machine_network }}
    serviceNetwork:
    - 172.30.0.0/16
  provisionRequirements:
    controlPlaneAgents: 1
    sshPublicKey: {{ ssh_pub_key }}
---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: swarm-{{ i }}
  namespace: swarm-{{ i }}
spec:
  baseDomain: redhat.com
  clusterInstallRef:
    group: extensions.hive.openshift.io
    kind: AgentClusterInstall
    name: swarm-{{ i }}
    version: v1beta1
  clusterName: swarm-{{ i }}
  controlPlaneConfig:
    servingCertificates: {}
  platform:
    agentBareMetal:
      agentSelector: {}
  pullSecretRef:
    name: swarm-{{ i }}-pull
---
apiVersion: hive.openshift.io/v1
kind: ClusterImageSet
metadata:
  name: swarm-{{ i }}
spec:
  releaseImage: {{ release_image }}
---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: swarm-{{ i }}
  namespace: swarm-{{ i }}
spec:
  clusterRef:
    name: swarm-{{ i }}
    namespace: swarm-{{ i }}
  pullSecretRef:
    name: swarm-{{ i }}-pull
    sshAuthorizedKey: {{ ssh_pub_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: swarm-{{ i }}-pull
  namespace: swarm-{{ i }} 
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ pull_secret_b64 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: swarm-{{ i }}-bmh
  namespace: swarm-{{ i }}
type: Opaque
data:
  username: YWRtaW4=
  password: cGFzc3dvcmQ=
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: swarm-{{ i }}
  annotations:
    baremetalhost.metal3.io/detached: ""
  labels:
      infraenvs.agent-install.openshift.io: swarm-{{ i }}
  namespace: swarm-{{i }}
spec:
  online: true
  bootMACAddress: 00:00:00:00:{{ "{:02x}:{:02x}".format((i // 256) % 255, i % 255) }}
  bmc:
    address: redfish-virtualmedia+http://192.168.111.1:8000/redfish/v1/Systems/a5dfe568-35b2-4d1d-b987-4c90fbdf4c28
    credentialsName: swarm-{{ i }}-bmh
{% endfor %}
