apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_identifier }}-pull
  namespace: {{ cluster_identifier }} 
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ pull_secret_b64 }}
